In [10]:
import csv
import pandas as pd

host="cis450-final-project.ccgv1mp2bvqd.us-east-1.rds.amazonaws.com"
port=3306
dbname="cis450finalproject"
user="dorothychang"
password="password450"
conn = pymysql.connect(host, user=user,port=port, passwd=password, db=dbname)



with open('data.csv') as taxi_file:
    df = pd.read_csv(taxi_file, ',', nrows=1000000)

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30
10,2,2015-06-02 11:19:38,2015-06-02 11:19:43,3,0.01,0.000000,0.000000,2,N,0.000000,0.000000,2,52.0,0.0,0.5,0.00,0.00,0.3,52.80
11,2,2015-06-02 11:19:39,2015-06-02 11:36:43,1,1.65,-73.980492,40.730690,1,N,-73.996017,40.716331,1,12.0,0.0,0.5,2.00,0.00,0.3,14.80
12,2,2015-06-02 11:19:40,2015-06-02 11:34:34,1,1.14,-73.950104,40.777283,1,N,-73.954102,40.763763,2,10.5,0.0,0.5,0.00,0.00,0.3,11.30
13,1,2015-06-02 11:19:41,2015-06-02 11:23:56,2,0.50,-73.954803,40.765667,1,N,-73.962517,40.768044,1,4.5,0.0,0.5,1.30,0.00,0.3,6.60
14,2,2015-06-02 11:19:41,2015-06-02 11:29:59,1,1.28,-73.992508,40.728512,1,N,-73.995743,40.740971,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
15,1,2015-06-02 11:19:42,2015-06-02 11:22:33,2,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
16,2,2015-06-02 11:19:44,2015-06-02 11:38:10,1,1.41,-73.972748,40.744553,1,N,-73.963066,40.761719,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36
17,1,2015-06-02 11:19:44,2015-06-02 11:30:31,1,0.70,-73.958519,40.781433,1,N,-73.959229,40.774303,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
18,1,2015-06-02 11:19:45,2015-06-02 11:42:03,1,1.90,-74.007637,40.731834,1,N,-73.990746,40.752304,1,14.5,0.0,0.5,3.82,0.00,0.3,19.12
19,1,2015-06-02 11:19:47,2015-06-02 11:26:48,1,1.10,-73.955643,40.776382,1,N,-73.960464,40.765522,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
20,1,2015-06-02 11:19:48,2015-06-02 11:34:36,1,3.90,-73.949623,40.772671,1,N,-73.987640,40.735611,1,15.5,0.0,0.5,3.25,0.00,0.3,19.55
21,2,2015-06-02 11:19:49,2015-06-02 11:33:45,1,1.99,-73.982269,40.773991,1,N,-73.959869,40.775372,1,10.5,0.0,0.5,2.82,0.00,0.3,14.12
22,2,2015-06-02 11:19:50,2015-06-02 11:38:54,1,1.94,-73.984970,40.744328,1,N,-73.967270,40.769188,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30
23,1,2015-06-02 11:19:51,2015-06-02 11:33:13,1,1.10,-73.964371,40.769894,1,N,-73.975189,40.756977,1,9.5,0.0,0.5,2.06,0.00,0.3,12.36
24,1,2015-06-02 11:19:52,2015-06-02 11:53:51,1,3.80,-73.960022,40.773380,1,N,-74.000427,40.737537,1,21.5,0.0,0.5,4.45,0.00,0.3,26.75
25,1,2015-06-02 11:19:53,2015-06-02 11:30:16,1,1.20,-74.005524,40.715153,1,N,-74.015137,40.709240,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
26,2,2015-06-02 11:19:54,2015-06-02 11:29:50,1,0.94,-73.990471,40.751163,1,N,-73.986069,40.742367,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
27,2,2015-06-02 11:19:54,2015-06-02 11:27:46,5,1.35,-73.983185,40.750263,1,N,-73.999237,40.742435,1,7.0,0.0,0.5,1.00,0.00,0.3,8.80
28,1,2015-06-02 11:19:55,2015-06-02 11:34:39,2,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.00,0.00,0.3,11.80
29,1,2015-06-02 11:19:56,2015-06-02 11:32:24,1,1.30,-73.994301,40.751057,1,N,-73.979904,40.761692,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,1,2015-06-02 22:17:51,2015-06-02 22:30:20,1,3.30,-73.988419,40.748581,1,N,-73.955055,40.735031,1,12.0,0.5,0.5,3.75,5.54,0.3,22.59
999971,1,2015-06-02 22:17:52,2015-06-02 22:20:50,1,0.60,-73.965126,40.763489,1,N,-73.964020,40.770256,1,4.5,0.5,0.5,1.00,0.00,0.3,6.80
999972,2,2015-06-02 22:17:52,2015-06-02 22:25:59,1,1.35,-74.008888,40.706734,1,N,-73.992317,40.715099,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
999973,2,2015-06-02 22:17:53,2015-06-02 23:14:24,1,32.73,-73.978683,40.764938,5,N,-74.164360,40.712078,1,100.0,0.0,0.5,0.00,0.00,0.3,100.80
999974,2,2015-06-02 22:17:53,2015-06-02 22:28:16,3,3.02,-74.002182,40.739738,1,N,-73.987144,40.774223,1,10.5,0.5,0.5,2.00,0.00,0.3,13.80
999975,2,2015-06-02 22:17:54,2015-06-02 22:21:58,1,1.07,-73.958771,40.768890,1,N,-73.951729,40.781891,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
999976,2,2015-06-02 22:17:54,2015-06-02 22:30:49,1,2.94,-73.992256,40.764763,1,N,-73.987419,40.735142,1,11.5,0.5,0.5,1.50,0.00,0.3,14.30
999977,2,2015-06-02 22:17:55,2015-06-02 22:32:30,1,2.56,-73.971313,40.751064,1,N,-73.956757,40.780666,1,12.5,0.5,0.5,2.76,0.00,0.3,16.56
999978,1,2015-06-02 22:17:55,2015-06-02 22:28:46,2,1.90,-73.979088,40.771725,1,N,-73.950691,40.771042,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
999979,2,2015-06-02 22:17:56,2015-06-02 22:26:53,1,2.18,-73.987267,40.765900,1,N,-73.999542,40.742519,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36
999980,1,2015-06-02 22:17:57,2015-06-02 22:24:16,1,1.40,-73.987854,40.728523,1,N,-73.975754,40.716953,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
999981,2,2015-06-02 22:17:57,2015-06-02 22:54:54,2,7.75,-73.985390,40.747169,1,N,-73.939949,40.671043,1,29.5,0.5,0.5,6.16,0.00,0.3,36.96
999982,2,2015-06-02 22:17:58,2015-06-02 22:32:57,5,2.11,-73.970642,40.755932,1,N,-73.969482,40.756981,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
999983,2,2015-06-02 22:17:58,2015-06-02 22:29:44,1,1.39,-73.982803,40.771885,1,N,-73.970383,40.760338,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30
999984,1,2015-06-02 22:17:59,2015-06-02 23:07:16,1,12.90,-73.989876,40.758984,1,N,-73.831131,40.842201,1,46.5,0.5,0.5,9.56,0.00,0.3,57.36
999985,2,2015-06-02 22:18:00,2015-06-02 22:20:12,1,0.41,-73.993240,40.745338,1,N,-73.986511,40.742512,1,3.5,0.5,0.5,0.96,0.00,0.3,5.76
999986,2,2015-06-02 22:18:00,2015-06-02 22:30:16,2,1.80,-73.985130,40.755398,1,N,-73.978439,40.745296,1,10.0,0.5,0.5,2.26,0.00,0.3,13.56
999987,1,2015-06-02 22:18:01,2015-06-02 22:27:34,1,1.50,-73.979965,40.767220,1,N,-73.975243,40.752419,1,8.0,0.5,0.5,1.00,0.00,0.3,10.30
999988,1,2015-06-02 22:18:01,2015-06-02 22:32:43,1,3.10,-73.962723,40.755634,1,N,-73.995888,40.732494,1,13.0,0.5,0.5,2.85,0.00,0.3,17.15
999989,2,2015-06-02 22:18:02,2015-06-02 22:21:45,1,0.88,-73.997391,40.721691,1,N,-73.990097,40.732395,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56
999990,2,2015-06-02 22:18:03,2015-06-02 22:45:47,2,10.68,-73.952164,40.786331,1,N,-73.967377,40.685509,1,33.0,0.5,0.5,8.58,0.00,0.3,42.88
999991,2,2015-06-02 22:18:03,2015-06-02 22:38:35,5,7.63,-73.976425,40.754375,1,N,-73.994049,40.681679,1,23.0,0.5,0.5,4.86,0.00,0.3,29.16
999992,2,2015-06-02 22:18:03,2015-06-02 22:29:11,4,2.12,-73.990662,40.756138,1,N,-73.978828,40.740505,1,9.5,0.5,0.5,2.00,0.00,0.3,12.80
999993,2,2015-06-02 22:18:04,2015-06-02 22:24:04,1,1.02,-73.966423,40.764729,1,N,-73.954178,40.763897,1,6.0,0.5,0.5,1.46,0.00,0.3,8.76
999994,2,2015-06-02 22:18:04,2015-06-02 22:26:54,1,1.29,-73.977119,40.747223,1,N,-73.974091,40.761848,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
999995,2,2015-06-02 22:18:02,2015-06-02 22:22:06,1,1.35,-73.968132,40.755299,1,N,-73.955162,40.768959,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
999996,1,2015-06-02 22:18:05,2015-06-02 22:31:23,1,3.10,-73.967880,40.755840,1,N,-74.000565,40.730652,2,12.0,0.5,0.5,0.00,0.00,0.3,13.30
999997,2,2015-06-02 22:18:06,2015-06-02 22:26:02,1,0.88,-74.005341,40.719379,1,N,-73.995300,40.719749,1,6.5,0.5,0.5,1.56,0.00,0.3,9.36
999998,1,2015-06-02 22:18:07,2015-06-02 22:26:35,1,1.90,-74.001328,40.731159,1,N,-74.014557,40.718143,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
999999,2,2015-06-02 22:18:08,2015-06-02 22:32:48,2,2.83,-73.999580,40.761265,1,N,-73.963440,40.765736,1,12.5,0.5,0.5,2.50,0.00,0.3,16.30

In [12]:
def fillna_col (series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('') 
    else:
        return series

In [13]:
def nullify (param):
    if param == r'\N':
        return float('NaN')
    else: 
        return param

In [14]:
df = df.applymap(nullify)
df = df.apply(fillna_col)

In [15]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-06-02 11:19:29,2015-06-02 11:47:52,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0.0,0.5,0.00,0.00,0.3,17.80
1,2,2015-06-02 11:19:30,2015-06-02 11:27:56,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0.0,0.5,1.00,0.00,0.3,8.30
2,2,2015-06-02 11:19:31,2015-06-02 11:30:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00
3,2,2015-06-02 11:19:31,2015-06-02 11:39:02,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0.0,0.5,2.86,0.00,0.3,17.16
4,1,2015-06-02 11:19:32,2015-06-02 11:32:49,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
5,1,2015-06-02 11:19:33,2015-06-02 11:28:48,1,1.40,-73.944641,40.779465,1,N,-73.961365,40.771561,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
6,1,2015-06-02 11:19:34,2015-06-02 11:38:46,1,1.80,-73.992867,40.748211,1,N,-73.969772,40.748459,1,12.5,0.0,0.5,3.00,0.00,0.3,16.30
7,1,2015-06-02 11:19:35,2015-06-02 12:36:46,4,11.90,-73.863075,40.769253,1,N,-73.986710,40.761307,1,52.5,0.0,0.5,15.00,5.54,0.3,73.84
8,2,2015-06-02 11:19:36,2015-06-02 11:45:19,1,1.27,-73.991432,40.749306,1,N,-73.985062,40.759525,2,15.0,0.0,0.5,0.00,0.00,0.3,15.80
9,1,2015-06-02 11:19:38,2015-06-02 11:23:50,1,0.60,-73.970734,40.796207,1,N,-73.977470,40.789509,1,5.0,0.0,0.5,0.50,0.00,0.3,6.30
10,2,2015-06-02 11:19:38,2015-06-02 11:19:43,3,0.01,0.000000,0.000000,2,N,0.000000,0.000000,2,52.0,0.0,0.5,0.00,0.00,0.3,52.80
11,2,2015-06-02 11:19:39,2015-06-02 11:36:43,1,1.65,-73.980492,40.730690,1,N,-73.996017,40.716331,1,12.0,0.0,0.5,2.00,0.00,0.3,14.80
12,2,2015-06-02 11:19:40,2015-06-02 11:34:34,1,1.14,-73.950104,40.777283,1,N,-73.954102,40.763763,2,10.5,0.0,0.5,0.00,0.00,0.3,11.30
13,1,2015-06-02 11:19:41,2015-06-02 11:23:56,2,0.50,-73.954803,40.765667,1,N,-73.962517,40.768044,1,4.5,0.0,0.5,1.30,0.00,0.3,6.60
14,2,2015-06-02 11:19:41,2015-06-02 11:29:59,1,1.28,-73.992508,40.728512,1,N,-73.995743,40.740971,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
15,1,2015-06-02 11:19:42,2015-06-02 11:22:33,2,0.60,-73.971939,40.781902,1,N,-73.978149,40.777328,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80
16,2,2015-06-02 11:19:44,2015-06-02 11:38:10,1,1.41,-73.972748,40.744553,1,N,-73.963066,40.761719,1,12.0,0.0,0.5,2.56,0.00,0.3,15.36
17,1,2015-06-02 11:19:44,2015-06-02 11:30:31,1,0.70,-73.958519,40.781433,1,N,-73.959229,40.774303,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
18,1,2015-06-02 11:19:45,2015-06-02 11:42:03,1,1.90,-74.007637,40.731834,1,N,-73.990746,40.752304,1,14.5,0.0,0.5,3.82,0.00,0.3,19.12
19,1,2015-06-02 11:19:47,2015-06-02 11:26:48,1,1.10,-73.955643,40.776382,1,N,-73.960464,40.765522,2,6.5,0.0,0.5,0.00,0.00,0.3,7.30
20,1,2015-06-02 11:19:48,2015-06-02 11:34:36,1,3.90,-73.949623,40.772671,1,N,-73.987640,40.735611,1,15.5,0.0,0.5,3.25,0.00,0.3,19.55
21,2,2015-06-02 11:19:49,2015-06-02 11:33:45,1,1.99,-73.982269,40.773991,1,N,-73.959869,40.775372,1,10.5,0.0,0.5,2.82,0.00,0.3,14.12
22,2,2015-06-02 11:19:50,2015-06-02 11:38:54,1,1.94,-73.984970,40.744328,1,N,-73.967270,40.769188,2,12.5,0.0,0.5,0.00,0.00,0.3,13.30
23,1,2015-06-02 11:19:51,2015-06-02 11:33:13,1,1.10,-73.964371,40.769894,1,N,-73.975189,40.756977,1,9.5,0.0,0.5,2.06,0.00,0.3,12.36
24,1,2015-06-02 11:19:52,2015-06-02 11:53:51,1,3.80,-73.960022,40.773380,1,N,-74.000427,40.737537,1,21.5,0.0,0.5,4.45,0.00,0.3,26.75
25,1,2015-06-02 11:19:53,2015-06-02 11:30:16,1,1.20,-74.005524,40.715153,1,N,-74.015137,40.709240,1,8.0,0.0,0.5,1.75,0.00,0.3,10.55
26,2,2015-06-02 11:19:54,2015-06-02 11:29:50,1,0.94,-73.990471,40.751163,1,N,-73.986069,40.742367,2,8.0,0.0,0.5,0.00,0.00,0.3,8.80
27,2,2015-06-02 11:19:54,2015-06-02 11:27:46,5,1.35,-73.983185,40.750263,1,N,-73.999237,40.742435,1,7.0,0.0,0.5,1.00,0.00,0.3,8.80
28,1,2015-06-02 11:19:55,2015-06-02 11:34:39,2,1.90,-73.990143,40.740814,1,N,-74.005508,40.723015,2,11.0,0.0,0.5,0.00,0.00,0.3,11.80
29,1,2015-06-02 11:19:56,2015-06-02 11:32:24,1,1.30,-73.994301,40.751057,1,N,-73.979904,40.761692,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999970,1,2015-06-02 22:17:51,2015-06-02 22:30:20,1,3.30,-73.988419,40.748581,1,N,-73.955055,40.735031,1,12.0,0.5,0.5,3.75,5.54,0.3,22.59
999971,1,2015-06-02 22:17:52,2015-06-02 22:20:50,1,0.60,-73.965126,40.763489,1,N,-73.964020,40.770256,1,4.5,0.5,0.5,1.00,0.00,0.3,6.80
999972,2,2015-06-02 22:17:52,2015-06-02 22:25:59,1,1.35,-74.008888,40.706734,1,N,-73.992317,40.715099,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
999973,2,2015-06-02 22:17:53,2015-06-02 23:14:24,1,32.73,-73.978683,40.764938,5,N,-74.164360,40.712078,1,100.0,0.0,0.5,0.00,0.00,0.3,100.80
999974,2,2015-06-02 22:17:53,2015-06-02 22:28:16,3,3.02,-74.002182,40.739738,1,N,-73.987144,40.774223,1,10.5,0.5,0.5,2.00,0.00,0.3,13.80
999975,2,2015-06-02 22:17:54,2015-06-02 22:21:58,1,1.07,-73.958771,40.768890,1,N,-73.951729,40.781891,2,5.5,0.5,0.5,0.00,0.00,0.3,6.80
999976,2,2015-06-02 22:17:54,2015-06-02 22:30:49,1,2.94,-73.992256,40.764763,1,N,-73.987419,40.735142,1,11.5,0.5,0.5,1.50,0.00,0.3,14.30
999977,2,2015-06-02 22:17:55,2015-06-02 22:32:30,1,2.56,-73.971313,40.751064,1,N,-73.956757,40.780666,1,12.5,0.5,0.5,2.76,0.00,0.3,16.56
999978,1,2015-06-02 22:17:55,2015-06-02 22:28:46,2,1.90,-73.979088,40.771725,1,N,-73.950691,40.771042,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
999979,2,2015-06-02 22:17:56,2015-06-02 22:26:53,1,2.18,-73.987267,40.765900,1,N,-73.999542,40.742519,1,9.0,0.5,0.5,2.06,0.00,0.3,12.36
999980,1,2015-06-02 22:17:57,2015-06-02 22:24:16,1,1.40,-73.987854,40.728523,1,N,-73.975754,40.716953,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
999981,2,2015-06-02 22:17:57,2015-06-02 22:54:54,2,7.75,-73.985390,40.747169,1,N,-73.939949,40.671043,1,29.5,0.5,0.5,6.16,0.00,0.3,36.96
999982,2,2015-06-02 22:17:58,2015-06-02 22:32:57,5,2.11,-73.970642,40.755932,1,N,-73.969482,40.756981,2,11.5,0.5,0.5,0.00,0.00,0.3,12.80
999983,2,2015-06-02 22:17:58,2015-06-02 22:29:44,1,1.39,-73.982803,40.771885,1,N,-73.970383,40.760338,2,9.0,0.5,0.5,0.00,0.00,0.3,10.30
999984,1,2015-06-02 22:17:59,2015-06-02 23:07:16,1,12.90,-73.989876,40.758984,1,N,-73.831131,40.842201,1,46.5,0.5,0.5,9.56,0.00,0.3,57.36
999985,2,2015-06-02 22:18:00,2015-06-02 22:20:12,1,0.41,-73.993240,40.745338,1,N,-73.986511,40.742512,1,3.5,0.5,0.5,0.96,0.00,0.3,5.76
999986,2,2015-06-02 22:18:00,2015-06-02 22:30:16,2,1.80,-73.985130,40.755398,1,N,-73.978439,40.745296,1,10.0,0.5,0.5,2.26,0.00,0.3,13.56
999987,1,2015-06-02 22:18:01,2015-06-02 22:27:34,1,1.50,-73.979965,40.767220,1,N,-73.975243,40.752419,1,8.0,0.5,0.5,1.00,0.00,0.3,10.30
999988,1,2015-06-02 22:18:01,2015-06-02 22:32:43,1,3.10,-73.962723,40.755634,1,N,-73.995888,40.732494,1,13.0,0.5,0.5,2.85,0.00,0.3,17.15
999989,2,2015-06-02 22:18:02,2015-06-02 22:21:45,1,0.88,-73.997391,40.721691,1,N,-73.990097,40.732395,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56
999990,2,2015-06-02 22:18:03,2015-06-02 22:45:47,2,10.68,-73.952164,40.786331,1,N,-73.967377,40.685509,1,33.0,0.5,0.5,8.58,0.00,0.3,42.88
999991,2,2015-06-02 22:18:03,2015-06-02 22:38:35,5,7.63,-73.976425,40.754375,1,N,-73.994049,40.681679,1,23.0,0.5,0.5,4.86,0.00,0.3,29.16
999992,2,2015-06-02 22:18:03,2015-06-02 22:29:11,4,2.12,-73.990662,40.756138,1,N,-73.978828,40.740505,1,9.5,0.5,0.5,2.00,0.00,0.3,12.80
999993,2,2015-06-02 22:18:04,2015-06-02 22:24:04,1,1.02,-73.966423,40.764729,1,N,-73.954178,40.763897,1,6.0,0.5,0.5,1.46,0.00,0.3,8.76
999994,2,2015-06-02 22:18:04,2015-06-02 22:26:54,1,1.29,-73.977119,40.747223,1,N,-73.974091,40.761848,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
999995,2,2015-06-02 22:18:02,2015-06-02 22:22:06,1,1.35,-73.968132,40.755299,1,N,-73.955162,40.768959,1,6.0,0.5,0.5,1.00,0.00,0.3,8.30
999996,1,2015-06-02 22:18:05,2015-06-02 22:31:23,1,3.10,-73.967880,40.755840,1,N,-74.000565,40.730652,2,12.0,0.5,0.5,0.00,0.00,0.3,13.30
999997,2,2015-06-02 22:18:06,2015-06-02 22:26:02,1,0.88,-74.005341,40.719379,1,N,-73.995300,40.719749,1,6.5,0.5,0.5,1.56,0.00,0.3,9.36
999998,1,2015-06-02 22:18:07,2015-06-02 22:26:35,1,1.90,-74.001328,40.731159,1,N,-74.014557,40.718143,1,8.5,0.5,0.5,1.95,0.00,0.3,11.75
999999,2,2015-06-02 22:18:08,2015-06-02 22:32:48,2,2.83,-73.999580,40.761265,1,N,-73.963440,40.765736,1,12.5,0.5,0.5,2.50,0.00,0.3,16.30

In [16]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime      object
tpep_dropoff_datetime     object
passenger_count            int64
trip_distance            float64
pickup_longitude         float64
pickup_latitude          float64
RateCodeID                 int64
store_and_fwd_flag        object
dropoff_longitude        float64
dropoff_latitude         float64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
dtype: object

In [17]:
df2 = df[['dropoff_latitude', 'dropoff_longitude']]
df2 = df2.rename(columns={'dropoff_longitude': 'longitude', 'dropoff_latitude':'latitude'})
df2 = df2.round({'longitude': 5, 'latitude': 5})
df2 = df2.groupby(['latitude', 'longitude']).size().reset_index(name='count')
df2 = df2.iloc[18:].reset_index()
df2 = df2.drop('index',axis=1)
df2 = df2.iloc[:930641]
df2

        latitude  longitude  count
0       40.30000  -73.95443      1
1       40.32324  -74.64435      1
2       40.34241  -74.55817      1
3       40.34242  -74.55819      1
4       40.34782  -74.49882      1
5       40.37313  -74.01233      1
6       40.38572  -74.12820      1
7       40.41943  -74.20864      1
8       40.44928  -74.29159      1
9       40.45419  -74.44199      1
10      40.47281  -74.27814      1
11      40.47569  -74.47749      1
12      40.47972  -74.40857      1
13      40.48455  -74.28011      1
14      40.49416  -74.51378      1
15      40.49747  -74.38799      1
16      40.50105  -74.23936      1
17      40.50330  -73.74014      1
18      40.51369  -74.23762      1
19      40.51740  -74.23304      1
20      40.51947  -74.33993      2
21      40.51953  -74.33981      1
22      40.51955  -74.33978      1
23      40.52056  -74.20828      1
24      40.52443  -74.20124      1
25      40.52593  -74.36190      1
26      40.52864  -74.21022      1
27      40.53070  -74.22834      1
28      40.53196  -74.15919      1
29      40.53204  -74.15913      1
...          ...        ...    ...
930611  41.10259  -74.02950      1
930612  41.10496  -73.79255      1
930613  41.10704  -73.72495      1
930614  41.10716  -73.72482      1
930615  41.10720  -73.72482      1
930616  41.10723  -73.72489      1
930617  41.10723  -73.72486      1
930618  41.10724  -73.72487      1
930619  41.12415  -73.86046      1
930620  41.12938  -73.38213      1
930621  41.13439  -73.45999      1
930622  41.13624  -73.80390      1
930623  41.13734  -73.42025      1
930624  41.13802  -73.28746      1
930625  41.13918  -73.42651      1
930626  41.14180  -73.98751      1
930627  41.14225  -73.86504      1
930628  41.14680  -74.06138      1
930629  41.15428  -73.76772      1
930630  41.16108  -73.86326      1
930631  41.20980  -73.72811      1
930632  41.21621  -73.25272      1
930633  41.21627  -73.25267      1
930634  41.26899  -73.07373      1
930635  41.27507  -73.87785      1
930636  41.27677  -73.66558      1
930637  41.29965  -72.37701      1
930638  41.31828  -74.12438      1
930639  41.40926  -72.62953      1
930640  41.70798  -72.81629      1

[930641 rows x 3 columns]

In [18]:
df1 = df[['pickup_latitude', 'pickup_longitude']]
df1 = df1.rename(columns={'pickup_longitude': 'longitude', 'pickup_latitude':'latitude'})
df1 = df1.round({'longitude': 5, 'latitude': 5})
df1 = df1.groupby(['latitude', 'longitude']).size().reset_index(name='count')
df1 = df1.iloc[14:].reset_index()
df1 = df1.drop('index',axis=1)
df1 = df1.iloc[:886602]
df1

        latitude  longitude  count
0       40.12906  -68.61739      1
1       40.34242  -74.55818      1
2       40.44928  -74.29159      1
3       40.48454  -74.28011      1
4       40.49416  -74.51378      1
5       40.49746  -74.38799      1
6       40.51083  -73.73159      1
7       40.51947  -74.33993      1
8       40.51949  -74.33980      1
9       40.53204  -74.15910      1
10      40.53445  -74.16599      1
11      40.53903  -74.20935      1
12      40.53905  -74.20936      1
13      40.54853  -74.28982      1
14      40.55696  -74.26571      1
15      40.55904  -74.19788      1
16      40.56310  -74.32516      1
17      40.56336  -74.18191      1
18      40.57442  -73.98790      1
19      40.57710  -74.28731      1
20      40.57792  -73.96154      1
21      40.57903  -73.97617      1
22      40.57932  -73.98184      1
23      40.57976  -73.97795      1
24      40.57986  -73.94324      1
25      40.58120  -74.16758      1
26      40.58140  -73.96969      1
27      40.58172  -74.09801      1
28      40.58356  -73.94408      1
29      40.58429  -73.95112      1
...          ...        ...    ...
886572  41.00959  -73.90589      1
886573  41.01054  -73.87883      1
886574  41.01229  -73.88004      1
886575  41.01873  -73.66858      1
886576  41.01876  -73.92155      1
886577  41.02979  -73.76051      1
886578  41.03310  -73.76792      1
886579  41.03493  -73.76985      1
886580  41.03514  -73.76984      1
886581  41.03707  -73.61996      1
886582  41.03713  -73.62003      1
886583  41.04034  -73.58455      1
886584  41.04347  -73.55016      1
886585  41.04349  -73.54999      1
886586  41.04671  -73.54324      1
886587  41.04699  -73.56771      1
886588  41.05446  -74.06919      1
886589  41.05460  -74.06927      1
886590  41.06118  -73.83716      1
886591  41.06158  -73.72635      1
886592  41.06263  -73.84096      1
886593  41.06461  -73.83617      1
886594  41.07358  -73.47311      1
886595  41.07389  -73.81562      1
886596  41.08746  -73.55392      1
886597  41.09170  -73.86558      1
886598  41.13802  -73.28745      1
886599  41.13918  -73.42651      1
886600  41.21624  -73.25269      1
886601  41.27726  -73.88112      1

[886602 rows x 3 columns]

In [19]:
! pip install ipython-sql
! pip install pymysql
%load_ext sql
try:
    import pymysql
    pymysql.install_as_MySQLdb()
except ImportError:
    pass
from sqlalchemy import create_engine
engine = create_engine('mysql://dorothychang:password450@cis450-final-project.ccgv1mp2bvqd.us-east-1.rds.amazonaws.com:3306/cis450finalproject')
df1.to_sql(name='Taxi_Pickup', con=engine, if_exists='fail', index=False)
df2.to_sql(name='Taxi_Dropoff', con=engine, if_exists='fail', index=False)

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.6/site-packages (from ipython-sql)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: jedi>=0.10 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: simplegeneric>0.8 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: pexpect; sys_platform != "win32" in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: decorator in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: pygments in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /opt/conda/lib/python3.6/site-packages (from ipython>=1.0->ipython-sql)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.6/site-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.6/site-packages
The sql extension is already loaded. To reload it, use:
  %reload_ext sql